[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
towncrier = "==25.8.0"
pytest = "==9.0.2"
pytest-cov = "==7.0.0"
coverage = "==7.13.0"
mypy = {version = "==1.19.0", markers="implementation_name == 'cpython'"}
tbump = "==6.11.0"
