[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
towncrier = "==22.12.0"
pytest = "==7.2.2"
pytest-cov = "==4.0.0"
coverage = "==7.2.1"
black = "==23.1.0"
pycodestyle = "==2.10.0"
mypy = "==1.1.1"
tbump = "==6.9.0"
