# test runs requirements (versions we'll be testing against) - automatically updated
mock==4.0.3
types-mock==4.0.5
pytest==6.2.5  # tests framework used
pytest-cov==3.0.0  # coverage reports to verify tests quality
coverage==6.2 # pytest-cov
-e .[tests]
